.App {
    background: grey;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selected-flag img{width: 80px;}
.flag-wrapper{padding: 10px;}
.flag-wrapper img{max-width: 250px;}
.flag-wrapper img:hover {
      transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.region {
    font-size:12px;
}

.country-card{
    color:aliceblue;
    display: inline-block;
    cursor: pointer;
}

.photo-wrapper{
    position:relative;
    margin: 0 auto;
    text-align: center;
   
    width: 100%;
/*    height:350px;*/
}
.photo-wrapper img{
/*
    position:absolute;
    width:100%;
    max-width: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
*/
}

.user-has-chosen{
    z-index: 2;
    position:absolute;
    bottom: 0;
    background-color:darkslategray;
    overflow: hidden;
    height:100px;
    width: 100%;
    
}
.user-has-chosen img{
    display: inline-block;
    width: 100px;}

.user-has-chosen form {
    color:aliceblue;
    background: red;
 position:absolute;
    
    
}

.user-has-chosen .country-card{
    
    
}